html {
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

* {
	font-family: 'Josefin Sans', sans-serif;
}

.panel {
	width: 101vw;
	height: 101vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: 3vw;
	padding-left: 4vw;
}

.down_arrow {
	width: 10vw;
	height: auto;
}

#rules_arrow_div {
	padding-left: 2vw;
}

.selection_header {
	font-size: 1.5rem;
	color: grey;
}

.selection_text {
	font-size: 2.5rem;
	color: rgb(11, 96, 161);
}

/** WELCOME PANEL **/

#welcome_panel {
	background-color: white;
	background-image: linear-gradient(to bottom right, #FFFDE4, #005AA7);
	display: flex;
	align-items: center;
	justify-content: center;
/*	background-image: url('/static/images/monopoly.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	filter: blur(4px);*/
}



#welcome_header {
	position: relative
	padding-top: 15vh;
	font-size: 5rem;
	text-align: center;
}

#welcome_button {
	margin-top: -30vh;
	height: 10vh;
	width: 15vw;
	font-size: 1.5rem;
	background-color: transparent;
	border: 2px solid #005AA7;
}

#monopoly_man_image {
	position: absolute;
	margin-left: -30vw;
	margin-top: 30vh;
}



/** RULES PANEL **/

#description {
	background-color: lightgrey;
	padding-top: 5vh;
}
.toggletext {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}
#rules_header {
	font-size: 3rem;
}

#rules_list {
	padding-top: 2vh;
	font-size: 1.5rem;
}

#rules_image {
	position: absolute;

}


/** CATEGORY PANEL **/

#category_panel {

}

#category_data_viz {
	margin-top: -3vh;
}

#category_header {
	font-size: 3rem;
	padding-top: 3vh;
}

#category_text {
	font-size: 1.5rem;
	padding-top: 2vh;
}

#category_selection_header {
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#category_selection_text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	color: rgb(11, 96, 161);
}

#category_rules_div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}

/** NUM OF PLAYERS PANEL **/

#num_of_players_panel {
	background-color: white;
}

#num_of_players_header {
	font-size: 3rem;
	padding-top: 3vh;
}

#num_of_players_text {
	font-size: 1.5rem;
	padding-top: 2vh;
}

#num_of_players_data_viz {
	margin-left: 2vw;
	padding-top: 20vh;
}

#players_selection_header {
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#players_selection_text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	color: rgb(11, 96, 161);
}

#num_of_players_rules_div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}

input[type=radio]{
  transform:scale(5.5);
}

/** MECHANICS PANEL **/

#mechanics_panel {
	background-color: white;
}

#mechanics_header {
	font-size: 3rem;
	padding-top: 3vh;
}

#mechanics_text {
	font-size: 1.5rem;
	padding-top: 2vh;
}

#mechanics_data_viz {
	margin-top: -2rem;
}

#mechanics_selection_header {
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mechanics_selection_text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	color: rgb(11, 96, 161);
}


/** RESULTS PANEL **/

#rating_panel {

	background-color: pink;
	margin-top: 2rem;

	


}

#left-text{
	position: absolute;
	top: 47%;
	font-size: 3rem;
}



